@using AspNetCore.ReCaptcha
@model BCPLAlumniPortal.Models.ViewModels.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body class="login">
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="post" asp-controller="Account" asp-action="ResetPassword">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.Email)

                    <h1>Forgot Password? Enter your email to receive a passwrod reset link</h1>
                    <div>
                        @Html.TextBoxFor(model => model.Password, "", new { @class = "form-control", placeholder = "Password", style = "width:100%", required = "required" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.ConfirmPassword, "", new { @class = "form-control", placeholder = "Confirm Password", style = "width:100%", required = "required" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                    <div style="text-align:center">
                        @Html.ReCaptcha()
                    </div>

                    <div style="margin-top:5px;margin-bottom:5px">
                        <button id="login_btn" class="btn btn-sm btn-primary" type="submit" style="width:30%">
                            Reset Password
                        </button>
                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1>BCPL</h1>
                            <p> <a asp-area="" asp-controller="Account" asp-action="Index">Login</a>  <a asp-area="" asp-controller="Account" asp-action="Register">New User Registration</a></p>
                            <p>©2016 All Rights Reserved. Brahmaputra Cracker and Polymer Limited</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

