@model BCPLAlumniPortal.Models.ViewModels.MedicalClaimViewModel
@{
    ViewData["Title"] = "NewClaim";
}

<h2>Submit new medical claim request</h2>
<div class="row mt-5">
    <form asp-controller="Home" asp-action="NewClaim" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <fieldset class="row mb-3">
            <legend class="col-form-label col-2 pt-0">Patient Name</legend>
            <div class="col-4">
                @Html.TextBoxFor(model => model.patientName, "", new { @class = "form-control", placeholder = "Patient Name", style = "", required = "required" })
                @Html.ValidationMessageFor(model => model.patientName, "", new { @class = "text-danger" })
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-2 pt-0">Relationship with Employee</legend>
            <div class="col-4">
                @Html.TextBoxFor(model => model.patientRelationship, "", new { @class = "form-control", placeholder = "Relationship with Employee", style = "", required = "required" })
                @Html.ValidationMessageFor(model => model.patientRelationship, "", new { @class = "text-danger" })
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-2 pt-0">Gender</legend>
            <div class="col-4">
                @Html.TextBoxFor(model => model.gender, "", new { @class = "form-control", placeholder = "Gender", style = "", required = "required" })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-2 pt-0">Empanelled Institute</legend>
            <div class="col-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isEmpanelled" id="isEmpanelled1" value="true" required>
                    <label class="form-check-label" for="isEmpanelled1">Emapnelled</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isEmpanelled" id="isEmpanelled2" value="false">
                    <label class="form-check-label" for="isEmpanelled2">Non-Emapnelled</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-2 pt-0">Claim Amount</legend>
            <div class="col-4">
                @Html.TextBoxFor(model => model.claimAmount, "", new { @class = "form-control", placeholder = "Claim Amount", style = "", required = "required" })
                @Html.ValidationMessageFor(model => model.claimAmount, "", new { @class = "text-danger" })
            </div>
        </fieldset>

        <div class="row mb-3 g-3 align-items-center">
            <label class="col-form-label col-md-2 pt-0">Attachment (if any)</label>
            <div class="col-4">
                <input class="form-control" type="file" id="uploadedFile" name="File" multiple aria-describedby="fileUploadType" />
            </div>
            <div class="col-auto">
                <span id="fileUploadType" class="form-text">
                    Only image or PDF allowed. Multiple files with maximum total size 50 MB
                </span>
            </div>
        </div>
        <fieldset class="row mb-3">
            <div class="offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>


    </form>
</div>


