@model BCPLAlumniPortal.Models.ViewModels.MedicalClaimViewModel
@{
    ViewData["Title"] = "NewClaim";
}

<h2>Submit new medical claim request</h2>
<div class="row mt-5">
    <form asp-controller="Home" asp-action="NewClaim" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.id)

        <div class="table-responsive">
            <table class="table table-bordered" style="overflow-x:scroll;">
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Relationship
                    </th>
                    <th>
                        Place of Treatment
                    </th>
                    <th>
                        Charge Type
                    </th>
                    <th>
                        Emapnelled
                    </th>
                    <th>
                        Treatment Type
                    </th>
                    <th>
                        Particulars
                    </th>
                    <th>
                        Doctor/Hospital/Laboratory Name
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Bill Ref No
                    </th>
                    <th>
                        Recommended
                    </th>
                    <th>
                        Amount Claimed
                    </th>
                    <th>
                        Attachment
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>


                @for (int i = 0; i < Model.charges.Count; i++)
                {
                    @Html.HiddenFor(model => model.charges[i].id)
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].patientName, "", new { @class = "form-control", placeholder = "Patient Name", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].patientRelationship, "", new { @class = "form-control", placeholder = "Relationship", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].placeOfTreatment, "", new { @class = "form-control", placeholder = "Place of Treatment", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].chargeType, "", new { @class = "form-control", placeholder = "Charge Type", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].isEmpanelled, "", new { @class = "form-control", placeholder = "Emnpanelled", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].treatmentType, "", new { @class = "form-control", placeholder = "Treatement Type", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].particulars, "", new { @class = "form-control", placeholder = "Particulars", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].serviceProviderName, "", new { @class = "form-control", placeholder = "Name", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].startDate, "", new { @class = "form-control", placeholder = "Start Date", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].endDate, "", new { @class = "form-control", placeholder = "End Date", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].serviceRefNo, "", new { @class = "form-control", placeholder = "Bill No", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].isRecommended, "", new { @class = "form-control", placeholder = "Recommended", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].amountClaimed, "", new { @class = "form-control", placeholder = "Amount Claimed", style = "" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.charges[i].UploadFile, "", new { @type = "file", @class = "form-control", style = "" })
                            @* <input class="form-control" type="file" id="Fi" name="model.charges[i].UploadFile" multiple aria-describedby="fileUploadType" /> *@
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Home" asp-action="DeleteClaimEntry" >X</a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <fieldset class="row mb-3">
            <div class="offset-2">
                <button type="submit" name="form_btn" value="new_row" class="btn btn-primary">New Row</button>
            </div>
            <div class="">
                <button type="submit" name="form_btn" value="draft" class="btn btn-primary">Save Draft</button>
            </div>
            <div class="">
                <button type="submit" name="form_btn" value="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>


    </form>
</div>


